{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form  action="{% url 'displaycategory' %}" method="post" style="padding: 2rem 0;">
        {% csrf_token %}
        <div class="input-group mx-3 col-mg-3 col-lg-5"  style="margin-bottom: 4rem;">
            <select name="category" class="custom-select" id="category" >
                {% for cat in category %}
                    <option value="" disabled selected hidden>Select a category</option>
                    <option value="{{ cat }}">{{ cat }}</option>
                {% endfor %}
            </select>
            <div class="input-group-append">
              <button type="submit" class="btn btn-outline-secondary" type="button">Select</button>
            </div>
          </div>
     </form>   
    <div class="row mx-3">
        
        {% for listing in listings %}
            <div class="card ml-5 mr-5 mt-5" style="width: 18rem; ">
                <img class="card-img-top" src="{{listing.imageUrl}}" alt="{{listing.title}}">
                <div class="card-body">
                <h5 class="card-title">{{listing.title}}</h5>
                <p class="card-text">{{listing.description}}</p>
                <h5 class="card-text my-3 mb-4">Price : Rs {{listing.price.bid}}</h5> 
                <a href="{% url 'detail' id=listing.id %}" class="btn btn-primary" >Details</a>
                </div>
            </div>
        
        {% endfor %}
    </div>    
{% endblock %}